body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling when canvas size changes */
}

#myCanvas {
    width: 100%;
    height: 80%;
}